# Local Netlify folder
.netlify

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite
*.sqlite3

# Session files
flask_session/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Environment variables
.env
.env.local

# Node (for Vercel)
node_modules/
.vercel

.vercel
output/.vercel
